include README
include LICENSE
include AUTHORS
#include scripts/watchmedo
include scripts/watchmedo.bat
recursive-include watchdog/ *.py *.h *.c
include docs/*.txt
include docs/*.xml
include docs/Makefile
include docs/make.bat
recursive-include docs/source *
#exclude README.md
prune docs/source/_themes/.git*
#global-exclude .DS_Store
#global-exclude Thumbs.db
#global-exclude Desktop.ini
#global-exclude *.swp
#global-exclude *~
#global-exclude *.bak
