Source: python-watchdog
Section: free
Priority: extra
Maintainer: Hannu Valtonen <hannu.valtonen@ohmu.fi>
Build-Depends: cdbs, debhelper (>= 7.0.50~), python-support, python (>= 2.6), python-setuptools (>= 0.6.14 )
Standards-Version: 3.8.4

Package: python-watchdog
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-argparse (>= 1.1), python-yaml (>= 3.09), python-argh (>= 0.14.2), python-pathtools (>= 0.1.1)
Description: Python Watchdog library for monitoring different directories
